---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: UTF-8
      string: '{"client_secret":"<google_client_secret>","redirect_uri":"<google_redirect_uri>","client_id":"<google_client_id>","grant_type":"authorization_code","code":"\u003cinvalid_authorization_code\u003e"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": "invalid_grant",
          "error_description": "Malformed auth code."
        }
  recorded_at: Wed, 28 Dec 2022 14:37:54 GMT
recorded_with: VCR 6.1.0
